body{
    font-family: 'roboto', sans-serif;
 
}
header nav{
    
        background-color: #fff;
        box-shadow: 0px 0px 5px #4444;
    
}
header nav  a.navbar-brand img{
    
    height: 40px;
}
header nav form.serch-form{
    width: 300px;
    margin-right: 50px;
    
}
.f{
    position: relative;
}

header nav form.search-form input{
    border-radius: 50px;
  
}
header nav form.search-form button.search-btn{
    padding: 5px 30px;
    border-radius: 50px;
    background-color:#276F48;
    color: #fff;
    border: 1px solid #4444;
    position: absolute;
    right: 0;
    top: 0;

    
}
/* .l{   
    position: absolute;
    right: 0;
    top: 0;
} */

ul.action-menu .nav-item .nav-link{
    
    font-size: 18px;
    margin: 0 20px;
}
section.slider{
    background-color: #fff;
    height: 566px;
    padding-top: 50px 0;
}
.slider-text h2{
    font-size: 68px;
    font-weight: 600;
}
span.lighten{
    color: #E3A500;
}
